<div class="login-option">
    <div>

        <a href="#" class="login-with d-flex" id="login-with-1" style="border:1px solid rgb(50, 144, 245);">
            <div class="side-login-image">
                <img src="../../static/media/Icons/google.png" width="25px" height="25px alt=" " srcset=" ">
            </div>
            <div class="side-login-text flex-grow-1 " style="text-align: center; background-color:rgb(50, 144, 245); color: white; ">
                Continue with Google
            </div>
        </a>
    </div>
    <div>
        <a href="# " class="login-with d-flex " id="login-with-2 " style="border:1px solid rgb(43, 75, 109); ">
            <div class="side-login-image " >
                <img src="../../static/media/Icons/facebook.png " width="25px " height="25px alt="" srcset="">
            </div>
            <div class="side-login-text flex-grow-1" style="text-align: center; background-color:rgb(43, 75, 109);">
                Continue with Facebook
            </div>
        </a>
    </div>
    <div>
        <a href="#" class="login-with d-flex" id="login-with-3" style="border:1px solid black;">
            <div class="side-login-image">
                <img src="../../static/media/Icons/apple.png" width="25px" height="25px alt=" " srcset=" ">
            </div>
            <div class="side-login-text flex-grow-1 " style="text-align: center; background-color:black ">
                Continue with Apple
            </div>
        </a>
    </div>
</div>